<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PhillipsBestMacApp</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8D53FFD70E9E5ED5EEF1DCEEE490ACEE9D27DAFC</string>
				<key>dateExpires</key>
				<string>2024/10/04</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8D53FFD70E9E5ED5EEF1DCEEE490ACEE9D27DAFC</string>
						<key>dateExpires</key>
						<string>2024/10/04</string>
						<key>type</key>
						<string>Developer ID Application</string>
					</dict>
					<key>embeddedBinaries</key>
					<array>
						<dict>
							<key>architectures</key>
							<array>
								<string>x86_64</string>
							</array>
							<key>certificate</key>
							<dict>
								<key>SHA1</key>
								<string>8D53FFD70E9E5ED5EEF1DCEEE490ACEE9D27DAFC</string>
								<key>dateExpires</key>
								<string>2024/10/04</string>
								<key>type</key>
								<string>Developer ID Application</string>
							</dict>
							<key>embeddedBinaries</key>
							<array>
								<dict>
									<key>architectures</key>
									<array>
										<string>x86_64</string>
									</array>
									<key>certificate</key>
									<dict>
										<key>SHA1</key>
										<string>8D53FFD70E9E5ED5EEF1DCEEE490ACEE9D27DAFC</string>
										<key>dateExpires</key>
										<string>2024/10/04</string>
										<key>type</key>
										<string>Developer ID Application</string>
									</dict>
									<key>name</key>
									<string>fileop</string>
									<key>team</key>
									<dict>
										<key>id</key>
										<string>C2DD65U2QA</string>
										<key>name</key>
										<string>Phillip LeBlanc (Individual)</string>
									</dict>
								</dict>
							</array>
							<key>name</key>
							<string>Autoupdate.app</string>
							<key>team</key>
							<dict>
								<key>id</key>
								<string>C2DD65U2QA</string>
								<key>name</key>
								<string>Phillip LeBlanc (Individual)</string>
							</dict>
						</dict>
					</array>
					<key>name</key>
					<string>Sparkle.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C2DD65U2QA</string>
						<key>name</key>
						<string>Phillip LeBlanc (Individual)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
				<key>com.apple.security.network.client</key>
				<true/>
			</dict>
			<key>name</key>
			<string>PhillipsBestMacApp.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>C2DD65U2QA</string>
				<key>name</key>
				<string>Phillip LeBlanc (Individual)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
